#====================================================================
# KONFIGURACJA AKCELEROMETRÓW (ADXL345)
#====================================================================

[mcu adxl]
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6647C74036B9636-if00 

# --- AKCELEROMETR GŁOWICY (HOTEND) ---
[adxl345 hotend]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

# --- AKCELEROMETR STOŁU (BED) ---
[adxl345 bed]
cs_pin: adxl:gpio9
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12
axes_map: x, y, -z

#====================================================================
# TESTER REZONANSÓW (INPUT SHAPER)
#====================================================================

[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    111, 122.5, 20  # Punkt pomiarowy (środek stołu)

[shaketune]
 # result_folder: ~/printer_data/config/ShakeTune_results
#    Ścieżka, gdzie będą zapisywane wykresy.
# number_of_results_to_keep: 3
#    Ile starych wyników trzymać.
# keep_raw_csv: False
#    Czy zostawiać surowe dane (zajmują dużo miejsca).
# show_macros_in_webui: True
#    Czy pokazywać przyciski makr w interfejsie.
# timeout: 300
#    Czas na wygenerowanie wykresu.

