# ==============================================================================
# === SILNIKI KROKOWE (STEPPERS) ===
# ==============================================================================

## --- OŚ X ---
[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 32
rotation_distance: 40
position_endstop: 218
position_min: 0
position_max: 220
homing_speed: 80
endstop_pin: EBBCan:gpio24

[tmc5160 stepper_x]
cs_pin: PB8
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.200
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 0 
driver_TOFF: 3
driver_HSTRT: 4
driver_HEND: 3

## --- OŚ Y ---
[stepper_y1]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_y1]
cs_pin: PC9
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.8
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 2            # Zwiększony blanking dla 56V (odfiltruje szum)
driver_TOFF: 4           # Wolniejszy chopper = chłodniejsze silniki
driver_HSTRT: 0
driver_HEND: 3

## --- OŚ Y1 ---
[stepper_y]
step_pin: PB7          
dir_pin: PB6         
enable_pin: !PB4     
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_min: -13
position_endstop: -13
position_max: 235
homing_speed: 80

[tmc5160 stepper_y]
cs_pin: PB5
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.8
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 2            # Zwiększony blanking dla 56V (odfiltruje szum)
driver_TOFF: 4           # Wolniejszy chopper = chłodniejsze silniki
driver_HSTRT: 0
driver_HEND: 3


## --- OŚ Z ---
[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 32
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -20
homing_speed: 50.0

[tmc5160 stepper_z]
cs_pin: PD0
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.200
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 3
driver_HSTRT: 4
driver_HEND: 3

# --- CZUJNIK TEMP.  ---
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100
# ==============================================================================
# === GRZANA PŁYTA (HEATER BED) ===
# ==============================================================================
[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3
#control: watermark
min_temp: 0
max_temp: 130

# ==============================================================================
# === CZUJNIK POZIOMOWANIA (BTT EDDY) ===
# ==============================================================================
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 22.8

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2


# ==============================================================================
# === SIATKA STOŁU (BED MESH) & HOME Z ===
# ==============================================================================
#====================================================================
# KONFIGURACJA POZIOMOWANIA STOŁU (BED MESH)
#====================================================================
[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 15, 34.5    # Minimalne współrzędne skanowania
mesh_max: 190, 220    # Maksymalne współrzędne skanowania
probe_count: 20, 20   # Eddy Duo pozwala na gęstą siatkę przy zachowaniu prędkości
algorithm: bicubic
adaptive_margin: 5         # margines wokół obszaru używanego przez obiekty w G-code
scan_overshoot: 8

#====================================================================
# BEZPIECZNE BAZOWANIE OSI Z (SAFE Z HOME)
#====================================================================
[safe_z_home]
home_xy_position: 111, 122.5  # Środek stołu dla bazowania Z
z_hop: 10                     # Podniesienie głowicy przed bazowaniem
z_hop_speed: 25               # Prędkość podnoszenia osi Z
speed: 200                    # Prędkość dojazdu do punktu bazowania