#####################################################################
#  SEKCJA: BTT EDDY - KALIBRACJA I Z-OFFSET
#####################################################################

[gcode_macro SET_Z_FROM_PROBE]
description: Oblicza i ustawia offset Z na podstawie odczytu z sondy Eddy
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90
    G1 Z{cf.safe_z_home.z_hop}

[gcode_macro SET_GCODE_OFFSET]
description: Nadpisuje standardowe SET_GCODE_OFFSET dla obsługi runtime_offset
rename_existing: SET_GCODE_OFFSET_ORIG
variable_restored: False 
variable_runtime_offset: 0
gcode:
    # Sekcja zakomentowana zgodnie z oryginałem:
    # {% if params.Z_ADJUST %}
    #   SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
    # {% endif %}
    # {% if params.Z %}
    #   {% set paramList = rawparams.split() %}
    #   {% for i in range(paramList|length) %}
    #     {% if paramList[i]=="Z=0" %}
    #       {% set temp=paramList.pop(i) %}
    #       {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
    #       {% if paramList.append(temp) %}{% endif %}
    #     {% endif %}
    #   {% endfor %}
    #   {% set rawparams=paramList|join(' ') %}
    #   SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
    # {% endif %}
    SET_GCODE_OFFSET_ORIG { rawparams }

#####################################################################
#  SEKCJA: BAZOWANIE (G28) I STATUS LED
#####################################################################

[gcode_macro G28]
description: Rozszerzone bazowanie z obsługą statusu LED i sondy Eddy
rename_existing: G28.1
gcode:
    STATUS_AUTO_HOME
    # SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=True
    
    G28.1 {rawparams}
    
    {% if not rawparams or (rawparams and 'Z' in rawparams) %}
        PROBE
        SET_Z_FROM_PROBE
    {% endif %}
    
    # SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=homing VALUE=False
    STATUS_READY

#####################################################################
#  SEKCJA: KALIBRACJA I BED MESH
#####################################################################

[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
description: Automatyczna kalibracja sondy BTT Eddy na środku stołu
gcode:
    BED_MESH_CLEAR
    G28 X Y
    G90 # Pozycjonowanie absolutne
    G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F3000

    {% if 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 }
    {% endif %}
    
    PROBE_EDDY_CURRENT_CALIBRATE {rawparams}

[gcode_macro BED_MESH_CALIBRATE]
description: Szybkie skanowanie stołu (Rapid Scan) przy użyciu Eddy
rename_existing: BED_MESH_CALIBRATE_OLD
gcode:
    STATUS_MESHING
    SET_VELOCITY_LIMIT ACCEL=10000
    BED_MESH_CALIBRATE_OLD METHOD=rapid_scan
    STATUS_READY

[gcode_macro CALIBRATE_EDDY]
description: Kalibracja BTT Eddy
gcode:
    PROBE_EDDY_CURRENT_CALIBRATE_AUTO CHIP=btt_eddy