#####################################################################
#   KONFIGURACJA SPRZĘTOWA
#####################################################################

[neopixel sb_leds]
pin: EBBCan:gpio16
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
#   EFEKTY LOGO (DIODA 1)
#####################################################################
[led_effect sb_logo_cooling]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect sb_logo_busy]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (1,0,0)

[led_effect sb_logo_calibrating_z]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 0.0, 0.35)

[led_effect sb_logo_homing]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 0.6, 0.2)

[led_effect sb_logo_leveling]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.5, 0.1, 0.4)

[led_effect sb_logo_meshing]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: static 0 0 top (1.0, 0.0, 0.6)

[led_effect sb_logo_cleaning]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: static 0 0 top (1.0, 0.0, 0.0)

[led_effect sb_logo_part_ready]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 1.0, 0.0)

[led_effect sb_logo_fiolet_puls]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.5, 0.0, 1.0)

[led_effect sb_logo_morskie_puls]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 0.7, 0.7)

[led_effect sb_logo_rozowy_staly]
leds: neopixel:sb_leds (1)
autostart: true
frame_rate: 24
layers: static 0 0 top (1.0, 0.0, 1.0)

# Efekt piły dla LOGO (pomarańczowy) - liniowe rozjaśnianie
[led_effect sb_logo_grzanie_pila]
leds: neopixel:sb_leds (1)
autostart: false
frame_rate: 24
layers:
    linearfade 2 0 top (1.0,0.3,0.0),(0.0,0.0,0.0)

#####################################################################
#   EFEKTY DYSZY (DIODY 2 I 3)
#####################################################################

[led_effect sb_nozzle_cooling]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect sb_nozzle_part_ready]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: breathing 3 1 top (0.6, 1.0, 0.0, 0.1)

[led_effect sb_nozzle_meshing]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: breathing 1.5 1 top (1.0, 0.0, 0.0)

[led_effect sb_nozzle_cleaning]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: breathing 1.5 1 top (1.0, 1.0, 1.0)

[led_effect nozzle_purple_pink]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: gradient 0.5 1 add (0.5, 0.0, 1.0),(1.0, 0.0, 0.5)

[led_effect sb_nozzle_biale_stale]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: static 0 0 top (0.5, 0.0, 0.3, 0.2)

[led_effect sb_nozzle_czerwony_flash]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: strobe 1.5 1 top (1.0, 0.0, 0.0)

# Efekt piły dla DYSZY (czerwony) - liniowe rozjaśnianie
[led_effect sb_nozzle_grzanie_pila]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers:
    linearfade 2 0 top (1.0,0.0,0.0,0.0),(0.0,0.0,0.0,0.0)

#####################################################################
#   EFEKTY SPECJALNE (CAŁOŚĆ)
#####################################################################

[led_effect rainbow]
leds: neopixel:sb_leds
autostart: false
frame_rate: 24
layers: gradient 0.3 1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect sb_critical_error]
leds: neopixel:sb_leds
autostart: false
frame_rate: 24
run_on_error: true
layers:
    strobe 1 1.5 add (1.0, 1.0, 1.0)
    breathing 2 0 difference (0.95, 0.0, 0.0)
    static 1 0 top (1.0, 0.0, 0.0)

[led_effect set_nozzle_leds_off]
leds: neopixel:sb_leds (2,3)
autostart: false
frame_rate: 24
layers: static 0 0 top (0.0, 0.0, 0.0, 0.0)

#####################################################################
#   MAKRA STATUSU
#####################################################################

[gcode_macro status_off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow
    SET_LED_EFFECT EFFECT=nozzle_purple_pink

[gcode_macro status_part_ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_nozzle_part_ready
    SET_LED_EFFECT EFFECT=sb_logo_part_ready

[gcode_macro status_heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_grzanie_pila
    SET_LED_EFFECT EFFECT=sb_nozzle_grzanie_pila

[gcode_macro status_cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cooling
    SET_LED_EFFECT EFFECT=sb_nozzle_cooling

[gcode_macro status_meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_meshing
    SET_LED_EFFECT EFFECT=sb_nozzle_meshing

[gcode_macro status_cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_cleaning
    SET_LED_EFFECT EFFECT=sb_nozzle_cleaning

[gcode_macro status_druk]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_fiolet_puls
    SET_LED_EFFECT EFFECT=sb_nozzle_biale_stale

[gcode_macro status_auto_home]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_morskie_puls
    SET_LED_EFFECT EFFECT=sb_nozzle_czerwony_flash

[gcode_macro status_spoczynek]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=sb_logo_rozowy_staly
    SET_LED_EFFECT EFFECT=set_nozzle_leds_off