
#====================================================================
# 1. KONFIGURACJA SYSTEMOWA (SDCARD, STATUS, PAUZA)
#====================================================================
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

#====================================================================
# 2. CENTRALNY PANEL STEROWANIA (ZMIENNE KLIENTA)
#====================================================================
[gcode_macro _CLIENT_VARIABLE]
### --- POZYCJE PARKOWANIA ---
variable_park_x          : 219.0   ; Współrzędna X do parkowania (koniec druku/pauza)
variable_park_y          : 230.0   ; Współrzędna Y do parkowania (koniec druku/pauza)
variable_park_z_max      : 180.0   ; Wysokość na jaką ma odjechać Z po zakończeniu
variable_custom_park_dz  : 5.0     ; O ile mm podnieść głowicę przy pauzie

### --- FILAMENT I ZMIANA (M600) ---
variable_m600_x          : 219.0   ; Pozycja X dla zmiany filamentu
variable_m600_y          : -6.0    ; Pozycja Y dla zmiany filamentu
variable_retract         : 1.0     ; Retrakcja przy PAUSE
variable_cancel_retract  : 5.0     ; Retrakcja przy CANCEL
variable_m600_retract    : 50.0    ; Długość wycofania filamentu przy M600 (zmiana)

### --- PRĘDKOŚCI ---
variable_speed_hop       : 15.0    ; Prędkość Z (mm/s)
variable_speed_move      : 100.0   ; Prędkość jałowa (mm/s)
variable_speed_retract   : 35.0    ; Prędkość retrakcji (mm/s)

### --- INNE ---
variable_park_at_cancel  : True    ; Czy parkować przy anulowaniu?
variable_user_pause_macro: "M600"  ; Co wywołać przy pauzie
gcode:

#====================================================================
# 3. GŁÓWNE MAKRA OPERACYJNE (CANCEL, RESUME, PAUSE, M600)
#====================================================================
[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
description: Anulowanie druku z użyciem centralnych ustawień
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
  CANCEL_PRINT_BASE
  M400
  G91
  G1 Z10 E-{client.cancel_retract} F600
  G90
  G1 X{client.park_x} Y{client.park_y} Z{client.park_z_max} F{client.speed_move * 60}
  M104 S0
  M140 S0
  M107
  M84
  CLEAR_PAUSE

[gcode_macro RESUME]
rename_existing: RESUME_BASE
gcode:
  {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
  RESUME_BASE VELOCITY={client.speed_move}

[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    _TOOLHEAD_PARK_PAUSE_CANCEL
    RESPOND MSG="Druk wstrzymany"

[gcode_macro M600]
description: Zmiana filamentu
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
    PAUSE
    G90
    G0 X{client.m600_x} Y{client.m600_y} F6000
    G91
    G1 E-{client.m600_retract} F1800
    G90
    RESPOND MSG="ZMIANA FILAMENTU: Wymień drut i kliknij RESUME"

#====================================================================
# 4. OBSŁUGA WARSTW (SET_PAUSE_AT_LAYER / NEXT_LAYER)
#====================================================================
[gcode_macro SET_PAUSE_NEXT_LAYER]
description: Enable a pause if the next layer is reached
gcode:
  {% set pause_next_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_next_layer %}
  {% set ENABLE = params.ENABLE|default(1)|int != 0 %}
  {% set MACRO = params.MACRO|default(pause_next_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_next_layer VALUE="{{ 'enable': ENABLE, 'call': MACRO }}"

[gcode_macro SET_PAUSE_AT_LAYER]
description: Enable/disable a pause if a given layer number is reached
gcode:
  {% set pause_at_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_at_layer %}
  {% set ENABLE = params.ENABLE|int != 0 if params.ENABLE is defined
             else params.LAYER is defined %}
  {% set LAYER = params.LAYER|default(pause_at_layer.layer)|int %}
  {% set MACRO = params.MACRO|default(pause_at_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_at_layer VALUE="{{ 'enable': ENABLE, 'layer': LAYER, 'call': MACRO }}"

[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
description: Overwrite, to get pause_next_layer and pause_at_layer feature
variable_pause_next_layer: { 'enable': False, 'call': "PAUSE" }
variable_pause_at_layer  : { 'enable': False, 'layer': 0, 'call': "PAUSE" }
gcode:
  {% if pause_next_layer.enable %}
    RESPOND TYPE=echo MSG='{"%s, forced by pause_next_layer" % pause_next_layer.call}'
    {pause_next_layer.call}
    SET_PAUSE_NEXT_LAYER ENABLE=0
  {% elif pause_at_layer.enable and params.CURRENT_LAYER is defined and params.CURRENT_LAYER|int == pause_at_layer.layer %}
    RESPOND TYPE=echo MSG='{"%s, forced by pause_at_layer [%d]" % (pause_at_layer.call, pause_at_layer.layer)}'
    {pause_at_layer.call}
    SET_PAUSE_AT_LAYER ENABLE=0
  {% endif %}
  SET_PRINT_STATS_INFO_BASE {rawparams}

#====================================================================
# 5. CZYSZCZENIE DYSZY I PARKOWANIE POMOCNICZE
#====================================================================
[gcode_macro CLEAN_NOZZLE]
variable_start_x: 218
variable_start_y: -5
variable_start_z: 1
variable_wipe_dist: -35
variable_wipe_qty: 10
gcode:
    STATUS_CLEANING
    {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %}
    G90
    G1 X{start_x} Y{start_y} Z{start_z} F6000
    {% for wipes in range(wipe_qty) %}
        G1 X{start_x + wipe_dist} F18000
        G1 X{start_x} F18000
    {% endfor %}
    G1 Z10 F3000
    STATUS_READY

[gcode_macro CLEAN_NOZZLE_PARK]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
    G90
    G1 X{client.park_x} Y-5 Z10 F6000 # Jedzie w okolice szczotki
    
[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
    {% set z_max = printer.toolhead.axis_maximum.z %}
    {% set z_act = printer.toolhead.position.z %}
    {% set z_safe = [z_act + client.custom_park_dz, z_max]|min %}
    
    G90
    G1 Z{z_safe} F600
    G1 X{client.park_x} Y{client.park_y} F{client.speed_move * 60}

#====================================================================
# 6. START/KONIEC DRUKU
#====================================================================

[gcode_macro PRINT_START]
gcode:
    {% set BED_TEMP = params.BED|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %}

    G90                             # Pozycjonowanie absolutne
    M83                         # Ekstruder względny
    G28                             # Home
    SET_FAN_SPEED FAN=moj_wentylator SPEED=0.6
    M140 S{BED_TEMP}                # Start grzania stołu
    M104 S{EXTRUDER_TEMP}           # Start grzania dyszy
    
    CLEAN_NOZZLE_PARK               

    M190 S{BED_TEMP}                # Czekaj na stół
    M109 S{EXTRUDER_TEMP}           # Czekaj na dyszę

                        
    
    # KAMP + Eddy Duo Rapid Scan
    BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1
    SET_GCODE_OFFSET Z=0
              # Twój offset dla Eddy
    STATUS_DRUK
    
    LINE_PURGE                     # Adaptacyjna linia czyszcząca
    G92 E0

[gcode_macro END_PRINT]
description: Makro kończące druk z szybkim ruchem Z na 180 mm
gcode:
    M400
    G91      
    G1 E-1
    G1 Z10 F600
    G90
    G1 Z180 F6000
    G1 X219 Y230  F5000 
    G1 E1
    M104 S0
    M140 S0
    M107
    G92 E0
    M84
    STOP_LED_EFFECTS
    STATUS_SPOZYNEK

#====================================================================
# 7. KALIBRACJA I TESTY (SHAPERS, SPEED, EDDY)
#====================================================================
[gcode_macro CALIBRATE_ALL_SHAPERS_AUTO]
description: Automatyczna kalibracja X i Y
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %} G28 {% endif %}
  M117 Kalibracja osi X...
  SHAPER_CALIBRATE AXIS=X
  M117 Kalibracja osi Y...
  SHAPER_CALIBRATE AXIS=Y
  M117 Zapisywanie wyników...
  SAVE_CONFIG



[gcode_macro TEST_SPEED]
description: Test max velocity and acceleration
gcode:
    {% set speed  = params.SPEED|default(printer.configfile.settings.printer.max_velocity)|int %}
    {% set iterations = params.ITERATIONS|default(5)|int %}
    {% set accel  = params.ACCEL|default(printer.configfile.settings.printer.max_accel)|int %}
    {% set min_cruise_ratio = params.MIN_CRUISE_RATIO|default(0.5)|float %}
    {% set bound = params.BOUND|default(20)|int %}
    {% set smallpatternsize = params.SMALLPATTERNSIZE|default(20)|int %}
    
    {% set x_min = [printer.toolhead.axis_minimum.x, 0]|max + bound %}
    {% set y_min = [printer.toolhead.axis_minimum.y, 0]|max + bound %}
    {% set x_max = printer.toolhead.axis_maximum.x - bound %}
    {% set y_max = printer.toolhead.axis_maximum.y - bound %}
    {% set x_center = (printer.toolhead.axis_minimum.x + printer.toolhead.axis_maximum.x) / 2 %}
    {% set y_center = (printer.toolhead.axis_minimum.y + printer.toolhead.axis_maximum.y) / 2 %}
    {% set x_center_min = x_center - (smallpatternsize/2) %}
    {% set x_center_max = x_center + (smallpatternsize/2) %}
    {% set y_center_min = y_center - (smallpatternsize/2) %}
    {% set y_center_max = y_center + (smallpatternsize/2) %}

    SAVE_GCODE_STATE NAME=TEST_SPEED
    { action_respond_info("TEST_SPEED: starting %d iterations at speed %d, accel %d" % (iterations, speed, accel)) }
    M400
    G28
    G90
    G1 X{printer.toolhead.axis_maximum.x-50} Y{printer.toolhead.axis_maximum.y-50} F{30*60}
    M400
    G28 X Y
    G0 X{printer.toolhead.axis_maximum.x-1} Y{printer.toolhead.axis_maximum.y-1} F{30*60}
    G4 P1000 
    GET_POSITION
    G0 X{x_min} Y{y_min} Z{bound + 10} F{speed*60}

    {% if printer.configfile.settings.printer.minimum_cruise_ratio is defined %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} MINIMUM_CRUISE_RATIO={min_cruise_ratio}
    {% else %}
        SET_VELOCITY_LIMIT VELOCITY={speed} ACCEL={accel} ACCEL_TO_DECEL={accel / 2}
    {% endif %}

    {% for i in range(iterations) %}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_min} F{speed*60}
        G0 X{x_min} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_max} F{speed*60}
        G0 X{x_max} Y{y_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_min} F{speed*60}
        G0 X{x_center_min} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_max} F{speed*60}
        G0 X{x_center_max} Y{y_center_min} F{speed*60}
    {% endfor %}

    SET_VELOCITY_LIMIT VELOCITY={printer.configfile.settings.printer.max_velocity} ACCEL={printer.configfile.settings.printer.max_accel}
    M400
    G28
    RESTORE_GCODE_STATE NAME=TEST_SPEED



#====================================================================
# 8. NADPISANIA TEMPERATUR I STATUSÓW LED - FINAL
#====================================================================

[gcode_macro M109]
rename_existing: M109.1
gcode:
    {% if printer.idle_timeout.state != "Printing" %} STATUS_HEATING {% endif %}
    M109.1 {rawparams}
    {% if printer.idle_timeout.state != "Printing" %} STATUS_READY {% endif %}

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% if printer.idle_timeout.state != "Printing" %} STATUS_HEATING {% endif %}
    M190.1 {rawparams}
    {% if printer.idle_timeout.state != "Printing" %} STATUS_READY {% endif %}

[gcode_macro M104]
rename_existing: M104.1
gcode:
    {% if params.S|float > 0 and printer.idle_timeout.state != "Printing" %} 
        STATUS_HEATING 
    {% elif params.S|float == 0 and printer.idle_timeout.state != "Printing" %}
        STATUS_READY
    {% endif %}
    M104.1 {rawparams}

[gcode_macro M140]
rename_existing: M140.1
gcode:
    {% if params.S|float > 0 and printer.idle_timeout.state != "Printing" %} 
        STATUS_HEATING 
    {% elif params.S|float == 0 and printer.idle_timeout.state != "Printing" %}
        STATUS_READY
    {% endif %}
    M140.1 {rawparams}

[gcode_macro SET_HEATER_TEMPERATURE]
rename_existing: SET_HEATER_TEMPERATURE_BASE
gcode:
    {% set HEATER = params.HEATER|default("extruder") %}
    {% set TARGET = params.TARGET|default(0)|float %}
    # Zmieniamy status tylko gdy NIE drukujemy
    {% if printer.idle_timeout.state != "Printing" %}
        {% if TARGET > 0 %} STATUS_HEATING {% else %}
            {% if printer.extruder.target == 0 and printer.heater_bed.target == 0 %} STATUS_READY {% endif %}
        {% endif %}
    {% endif %}
    SET_HEATER_TEMPERATURE_BASE HEATER={HEATER} TARGET={TARGET}

[gcode_macro TURN_OFF_HEATERS]
rename_existing: TURN_OFF_HEATERS_BASE
gcode:
    # Chłodzenie pokazujemy tylko po zakończeniu/przerwaniu pracy
    {% if printer.idle_timeout.state != "Printing" %} STATUS_COOLING {% endif %}
    TURN_OFF_HEATERS_BASE
    UPDATE_DELAYED_GCODE ID=auto_ready_cooling DURATION=5

[delayed_gcode auto_ready_cooling]
gcode:
    # Powrót do Ready tylko jeśli faktycznie ostygło i nie zaczęliśmy nowego druku
    {% if printer.extruder.temperature < 50 %} 
        {% if printer.idle_timeout.state != "Printing" %} STATUS_READY {% endif %}
    {% else %}
        UPDATE_DELAYED_GCODE ID=auto_ready_cooling DURATION=5
    {% endif %}

#====================================================================
# 9. FILAMENT (UNLOAD, CHANGE)
#====================================================================
[gcode_macro UNLOAD_FILAMENT]
description: Szybkie wyładowanie filamentu dla Rapido UHF
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M117 Wyładowywanie...
    G91             # Pozycjonowanie relatywne
    G92 E0          # Zeruj ekstruder
    # Małe wypchnięcie, żeby stopić końcówkę i zapobiec "nitkowaniu"
    G1 E10 F300     
    # Szybkie wycofanie - kluczowe przy Rapido UHF
    G1 E-80 F3000   
    G92 E0
    RESTORE_GCODE_STATE NAME=unloading_filament
    M117 Filament wyładowany

[gcode_macro LOAD_FILAMENT]
description: Ładowanie filamentu dla Rapido UHF
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Ładowanie...
    G91
    G92 E0
    # Szybki wsuw filamentu przez rurkę (dostosuj długość, np. 60-70mm)
    G1 E70 F1000    
    # Powolne przetłaczanie przez dyszę Rapido
    G1 E20 F300     
    # Czyszczenie dyszy (purge)
    G1 E10 F100     
    G92 E0
    RESTORE_GCODE_STATE NAME=loading_filament
    M117 Filament gotowy





[gcode_macro AWD_SYNC_Y]
description: Synchronizacja silników AWD na osi Y. Pamiętaj o poluzowaniu śrub na zębatkach!
gcode:
    {% set iterations = params.ITERATIONS|default(4)|int %}
    {% set p_time = params.PAUSE_TIME|default(0)|int %}
  
    {% for i in range(iterations) %}
      # Ustawiamy pozycję tylko dla osi Y (środek stołu 200x200 to 100)
      SET_KINEMATIC_POSITION Y=100 
      G91
      ### Mikro-ruch na pełny krok dla silników Y
      G1 Y0.1 F300
      
      G1 Y0.02 F300
      G1 Y-0.02 F300
      
      {% if i < (iterations-1) %}
        M84 # Rozluźnienie silników, żeby magnesy wskoczyły na miejsce
      {% endif %}
      
      G4 P500 # Pauza pół sekundy
      {% if i == 1 %}
        G4 P{1000*p_time}
      {% endif %}
    {% endfor %}
    G90
    # Gotowe - teraz dokręć zębatki na silnikach Y


[delayed_gcode auto_start_fan]
initial_duration: 1.0
gcode:
  # --- MOC PO WŁĄCZENIU DRUKARKI (0.1 = 10%) ---
  SET_FAN_SPEED FAN=moj_wentylator SPEED=0.3

[gcode_macro G28]
rename_existing: G28.1
gcode:
  # --- MOC PODCZAS PRACY/HOMINGU (0.6 = 60%) ---
  SET_FAN_SPEED FAN=moj_wentylator SPEED=0.6
  G28.1

[gcode_macro M84]
rename_existing: M84.1
gcode:
  # --- POWRÓT DO SPOCZYNKU (0.1 = 10%) ---
  SET_FAN_SPEED FAN=moj_wentylator SPEED=0.3
  M84.1
[gcode_macro M18]
rename_existing: M18.1
gcode:
  # --- POWRÓT DO 10% (Wyłączenie silników przez M18) ---
  SET_FAN_SPEED FAN=moj_wentylator SPEED=0.3
[idle_timeout]
timeout: 600
gcode:
  M84
  # --- POWRÓT DO SPOCZYNKU PO TIMEOUT (0.1 = 10%) ---
  SET_FAN_SPEED FAN=moj_wentylator SPEED=0.3