# ==============================================================================
# === PLIKI DOŁĄCZONE ===
# ==============================================================================
# printer.cfg
[gcode_arcs]
[include bed20.cfg]
#[include adxl.cfg]
[include led.cfg]
[include macro.cfg]
[include eddyduo.cfg]
[include KAMP/KAMP_Settings.cfg]
[printer]
kinematics: corexz
max_velocity: 1000
max_accel: 20000
max_z_velocity: 200
max_z_accel: 500  
square_corner_velocity: 5.0
# ==============================================================================
# === MIKROKONTROLERY (MCUs) & CAN BUS ===
# ==============================================================================
[mcu]
canbus_uuid: 427159917bdb


[mcu EBBCan]
canbus_uuid: 7af82cd849c6


[mcu eddy]
canbus_uuid: 991ae981ec50
canbus_interface: can0
# ==============================================================================
# === EKSTRUDER & WENTYLATORY ===
# ==============================================================================
[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
gear_ratio: 17:2
rotation_distance: 48.162816
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
max_extrude_cross_section: 5
min_temp: 0
max_temp: 350
# ==============================================================================
# === SILNIKI KROKOWE (STEPPERS) ===
# ==============================================================================

## --- OŚ X ---
[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 32
rotation_distance: 40
position_endstop: 218
position_min: 0
position_max: 220
homing_speed: 80
endstop_pin: EBBCan:gpio24

[tmc5160 stepper_x]
cs_pin: PB8
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.400
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3

## --- OŚ Y ---
[stepper_y1]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_y1]
cs_pin: PC9
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 2.0
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1          # Przy 56V wystarczy 1 (36 klocków zegara), żeby odfiltrować szum, 2 może być zbyt "tępy"
driver_TOFF: 3         # Zostawiamy 3 – to złoty środek dla 56V, żeby nie przegrzewać cewek szumem
driver_HSTRT: 5        # Zwiększamy start histerezy – to da silnikowi "kopa" przy zmianie kierunku prądu
driver_HEND: 3  

## --- OŚ Y1 ---
[stepper_y]
step_pin: PB7          
dir_pin: PB6         
enable_pin: !PB4     
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_min: -13
position_endstop: -13
position_max: 235
homing_speed: 80

[tmc5160 stepper_y]
cs_pin: PB5
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 2.0
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1          # Przy 56V wystarczy 1 (36 klocków zegara), żeby odfiltrować szum, 2 może być zbyt "tępy"
driver_TOFF: 3         # Zostawiamy 3 – to złoty środek dla 56V, żeby nie przegrzewać cewek szumem
driver_HSTRT: 5        # Zwiększamy start histerezy – to da silnikowi "kopa" przy zmianie kierunku prądu
driver_HEND: 3         # Histereza końcowa na 3 – to wygładzi sinusoidę i zredukuje wibracje (szum magnetyczny)


## --- OŚ Z ---
[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 32
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -20
homing_speed: 50.0

[tmc5160 stepper_z]
cs_pin: PD0
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.400
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3

# --- CZUJNIK TEMP.  ---
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100
# ==============================================================================
# === GRZANA PŁYTA (HEATER BED) ===
# ==============================================================================
[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3
#control: watermark
min_temp: 0
max_temp: 130

# ==============================================================================
# === CZUJNIK POZIOMOWANIA (BTT EDDY) ===
# ==============================================================================
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 22.8

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2


#====================================================================
# KONFIGURACJA POZIOMOWANIA STOŁU (BED MESH)
#====================================================================
[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 15, 34.5    # Minimalne współrzędne skanowania
mesh_max: 190, 220    # Maksymalne współrzędne skanowania
probe_count: 20, 20   # Eddy Duo pozwala na gęstą siatkę przy zachowaniu prędkości
algorithm: bicubic
adaptive_margin: 5         # margines wokół obszaru używanego przez obiekty w G-code
scan_overshoot: 8

#====================================================================
# BEZPIECZNE BAZOWANIE OSI Z (SAFE Z HOME)
#====================================================================
[safe_z_home]
home_xy_position: 111, 122.5  # Środek stołu dla bazowania Z
z_hop: 10                     # Podniesienie głowicy przed bazowaniem
z_hop_speed: 25               # Prędkość podnoszenia osi Z
speed: 200                    # Prędkość dojazdu do punktu bazowania
[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.800
stealthchop_threshold: 0

# --- WENTYLATORY ---

[fan]
pin: PC7

[heater_fan hotend_fan]
pin: EBBCan:gpio13
heater: extruder
heater_temp: 50.0

[duplicate_pin_override]
pins: PB11

[static_digital_output staly_nawiew]
pins: PB11 # To wymusi napięcie, ale PWM może świrować

# --- LEPSZA METODA PONIŻEJ ---

[fan_generic moj_wentylator]
pin: PB11
# --- REGULACJA PISZCZENIA ---
# 0.01 = 100Hz (może piszczeć), 0.001 = 1kHz (ciszej), 0.0001 = 10kHz (najciszej)

# --- KOP NA START (żeby nie buczał w miejscu) ---
kick_start_time: 0.3

# ==============================================================================
# === INNE USTAWIENIA SYSTEMOWE ===
# ==============================================================================
[virtual_sdcard]
path: /home/manta/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[exclude_object]
[force_move]
enable_force_move: True
[board_pins]
aliases:
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

# ==============================================================================
# === RĘCZNA KONFIGURACJA INPUT SHAPER ===
# ==============================================================================
[input_shaper]
shaper_type_x: ei
shaper_freq_x: 83.2
damping_ratio_x: 0.074

shaper_type_y: mzv
shaper_freq_y: 91.2
damping_ratio_y: 0.064
# ==============================================================================
# === SAVE_CONFIG (AUTOMATYCZNIE GENEROWANE) ===
# ==============================================================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.801
#*# pid_ki = 10.081
#*# pid_kd = 35.438
#*#
#*# [heater_bed]
#*# pid_kp = 49.945
#*# pid_ki = 0.446
#*# pid_kd = 1399.084
#*# control = pid
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.200440, -0.229969, -0.289237, -0.347046
#*# 	-0.033456, -0.080672, -0.132738, -0.202601
#*# 	0.106591, 0.056136, -0.003351, -0.070670
#*# 	0.273507, 0.217512, 0.158835, 0.092940
#*# 	0.400790, 0.352934, 0.288770, 0.231059
#*# 	0.561283, 0.509522, 0.442511, 0.372457
#*# 	0.676602, 0.625820, 0.562470, 0.499704
#*# 	0.808297, 0.746598, 0.686772, 0.612802
#*# 	0.887459, 0.830275, 0.760946, 0.690705
#*# 	0.990202, 0.923818, 0.840926, 0.768480
#*# 	1.016688, 0.954814, 0.869301, 0.799640
#*# 	1.052388, 0.981081, 0.897052, 0.816176
#*# 	1.018139, 0.945813, 0.862149, 0.790313
#*# 	0.991672, 0.930341, 0.846292, 0.755143
#*# x_count = 4
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 95.451
#*# max_x = 120.441
#*# min_y = 41.8534
#*# max_y = 166.26339999999993
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3302116.842,0.087500:3300376.382,0.131250:3298527.514,
#*# 	0.168750:3296688.334,0.212500:3294673.112,0.250000:3292862.106,
#*# 	0.287500:3291303.166,0.331250:3289659.952,0.368750:3288211.978,
#*# 	0.412500:3286391.512,0.450000:3285023.736,0.487500:3283551.350,
#*# 	0.531250:3282008.872,0.568750:3280532.076,0.612500:3278908.939,
#*# 	0.650000:3277420.714,0.687500:3276089.716,0.731250:3274647.456,
#*# 	0.768750:3273718.961,0.812500:3271954.751,0.850000:3270800.981,
#*# 	0.887500:3269581.758,0.931250:3268289.423,0.968750:3267008.654,
#*# 	1.012500:3265585.027,1.050000:3264239.981,1.087500:3263040.787,
#*# 	1.131250:3261710.171,1.168750:3260621.719,1.212500:3259295.550,
#*# 	1.250000:3258312.060,1.287500:3257229.799,1.331250:3256022.422,
#*# 	1.368750:3254919.369,1.412500:3253694.229,1.450000:3252557.069,
#*# 	1.487500:3251551.523,1.531250:3250439.515,1.568750:3249468.713,
#*# 	1.612500:3248307.535,1.650000:3247414.055,1.687500:3246482.348,
#*# 	1.731250:3245465.036,1.768750:3244503.930,1.812500:3243471.111,
#*# 	1.850000:3242454.318,1.887500:3241567.580,1.931250:3240600.239,
#*# 	1.968750:3239796.842,2.012500:3238832.620,2.050000:3238102.469,
#*# 	2.087500:3237306.733,2.131250:3236407.567,2.168750:3235599.436,
#*# 	2.212500:3234718.520,2.250000:3233878.666,2.287500:3233139.399,
#*# 	2.331250:3232348.595,2.368750:3231660.665,2.412500:3230824.832,
#*# 	2.450000:3230201.526,2.487500:3229518.825,2.531250:3228821.715,
#*# 	2.568750:3228178.743,2.612500:3227444.930,2.650000:3226757.580,
#*# 	2.687500:3226144.548,2.731250:3225504.692,2.768750:3224944.668,
#*# 	2.812500:3224244.765,2.850000:3223734.588,2.887500:3223176.320,
#*# 	2.931250:3222541.695,2.968750:3221973.413,3.012500:3221368.961,
#*# 	3.050000:3220816.487,3.087500:3220318.061,3.131250:3219757.626,
#*# 	3.168750:3219291.140,3.212500:3218707.445,3.250000:3218277.898,
#*# 	3.287500:3217828.792,3.331250:3217345.312,3.368750:3216880.446,
#*# 	3.412500:3216396.393,3.450000:3215913.638,3.487500:3215495.467,
#*# 	3.531250:3215033.963,3.568750:3214632.515,3.612500:3214177.455,
#*# 	3.650000:3213804.760,3.687500:3213412.782,3.731250:3213018.093,
#*# 	3.768750:3212613.841,3.812500:3212209.114,3.850000:3211815.015,
#*# 	3.887500:3211450.810,3.931250:3211081.406,3.968750:3210733.895,
#*# 	4.012500:3210335.172,4.050000:3210047.890
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 33.563010
