# ==============================================================================
# === PLIKI DOŁĄCZONE ===
# ==============================================================================
# printer.cfg
[gcode_arcs]
[include bed20.cfg]
#[include adxl.cfg]
[include led.cfg]
[include macro.cfg]
[include eddyduo.cfg]
[include KAMP/KAMP_Settings.cfg]
# ==============================================================================
# === KONFIGURACJA GŁÓWNA DRUKARKI ===
# ==============================================================================
[printer]
kinematics: corexz
max_velocity: 1000
max_accel: 20000
max_z_velocity: 200
max_z_accel: 500  
square_corner_velocity: 5.0
# ==============================================================================
# === MIKROKONTROLERY (MCUs) & CAN BUS ===
# ==============================================================================
[mcu]
canbus_uuid: 427159917bdb


[mcu EBBCan]
canbus_uuid: 7af82cd849c6


[mcu eddy]
canbus_uuid: 991ae981ec50
canbus_interface: can0
# ==============================================================================
# === EKSTRUDER & WENTYLATORY ===
# ==============================================================================
[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
gear_ratio: 17:2
rotation_distance: 48.162816
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
max_extrude_cross_section: 5
min_temp: 0
max_temp: 350
# ==============================================================================
# === SILNIKI KROKOWE (STEPPERS) ===
# ==============================================================================

## --- OŚ X ---
[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 32
rotation_distance: 40
position_endstop: 218
position_min: 0
position_max: 220
homing_speed: 80
endstop_pin: EBBCan:gpio24

[tmc5160 stepper_x]
cs_pin: PB8
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.400
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3

## --- OŚ Y ---
[stepper_y1]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_y1]
cs_pin: PC9
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 2.0
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1          # Przy 56V wystarczy 1 (36 klocków zegara), żeby odfiltrować szum, 2 może być zbyt "tępy"
driver_TOFF: 3         # Zostawiamy 3 – to złoty środek dla 56V, żeby nie przegrzewać cewek szumem
driver_HSTRT: 5        # Zwiększamy start histerezy – to da silnikowi "kopa" przy zmianie kierunku prądu
driver_HEND: 3  

## --- OŚ Y1 ---
[stepper_y]
step_pin: PB7          
dir_pin: PB6         
enable_pin: !PB4     
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_min: -13
position_endstop: -13
position_max: 235
homing_speed: 80

[tmc5160 stepper_y]
cs_pin: PB5
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 2.0
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1          # Przy 56V wystarczy 1 (36 klocków zegara), żeby odfiltrować szum, 2 może być zbyt "tępy"
driver_TOFF: 3         # Zostawiamy 3 – to złoty środek dla 56V, żeby nie przegrzewać cewek szumem
driver_HSTRT: 5        # Zwiększamy start histerezy – to da silnikowi "kopa" przy zmianie kierunku prądu
driver_HEND: 3         # Histereza końcowa na 3 – to wygładzi sinusoidę i zredukuje wibracje (szum magnetyczny)


## --- OŚ Z ---
[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 32
rotation_distance: 40
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -20
homing_speed: 50.0

[tmc5160 stepper_z]
cs_pin: PD0
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10
run_current: 1.400
sense_resistor: 0.050
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3

# --- CZUJNIK TEMP.  ---
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100
# ==============================================================================
# === GRZANA PŁYTA (HEATER BED) ===
# ==============================================================================
[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA3
#control: watermark
min_temp: 0
max_temp: 130

# ==============================================================================
# === CZUJNIK POZIOMOWANIA (BTT EDDY) ===
# ==============================================================================
[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 22.8

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2


#====================================================================
# KONFIGURACJA POZIOMOWANIA STOŁU (BED MESH)
#====================================================================
[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 15, 34.5    # Minimalne współrzędne skanowania
mesh_max: 190, 220    # Maksymalne współrzędne skanowania
probe_count: 20, 20   # Eddy Duo pozwala na gęstą siatkę przy zachowaniu prędkości
algorithm: bicubic
adaptive_margin: 5         # margines wokół obszaru używanego przez obiekty w G-code
scan_overshoot: 8

#====================================================================
# BEZPIECZNE BAZOWANIE OSI Z (SAFE Z HOME)
#====================================================================
[safe_z_home]
home_xy_position: 111, 122.5  # Środek stołu dla bazowania Z
z_hop: 10                     # Podniesienie głowicy przed bazowaniem
z_hop_speed: 25               # Prędkość podnoszenia osi Z
speed: 200                    # Prędkość dojazdu do punktu bazowania
[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.800
stealthchop_threshold: 0

# --- WENTYLATORY ---

[fan]
pin: PC7

[heater_fan hotend_fan]
pin: EBBCan:gpio13
heater: extruder
heater_temp: 50.0

[duplicate_pin_override]
pins: PB11

[static_digital_output staly_nawiew]
pins: PB11 # To wymusi napięcie, ale PWM może świrować

# --- LEPSZA METODA PONIŻEJ ---

[fan_generic moj_wentylator]
pin: PB11
# --- REGULACJA PISZCZENIA ---
# 0.01 = 100Hz (może piszczeć), 0.001 = 1kHz (ciszej), 0.0001 = 10kHz (najciszej)

# --- KOP NA START (żeby nie buczał w miejscu) ---
kick_start_time: 0.3

# ==============================================================================
# === INNE USTAWIENIA SYSTEMOWE ===
# ==============================================================================
[virtual_sdcard]
path: /home/manta/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[exclude_object]
[force_move]
enable_force_move: True
[board_pins]
aliases:
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

# ==============================================================================
# === RĘCZNA KONFIGURACJA INPUT SHAPER ===
# ==============================================================================
[input_shaper]
shaper_type_x: ei
shaper_freq_x: 83.2
damping_ratio_x: 0.074

shaper_type_y: mzv
shaper_freq_y: 91.2
damping_ratio_y: 0.064
# ==============================================================================
# === SAVE_CONFIG (AUTOMATYCZNIE GENEROWANE) ===
# ==============================================================================

[include autotune_tmc.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.801
#*# pid_ki = 10.081
#*# pid_kd = 35.438
#*#
#*# [heater_bed]
#*# pid_kp = 49.945
#*# pid_ki = 0.446
#*# pid_kd = 1399.084
#*# control = pid
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3296470.202,0.087500:3295026.373,0.131250:3293144.553,
#*# 	0.168750:3291267.840,0.212500:3289418.968,0.250000:3287781.816,
#*# 	0.287500:3286264.611,0.331250:3284517.685,0.368750:3283125.662,
#*# 	0.412500:3281505.983,0.450000:3280082.788,0.487500:3278698.747,
#*# 	0.531250:3277079.115,0.568750:3275583.680,0.612500:3274121.836,
#*# 	0.650000:3272840.034,0.687500:3271666.914,0.731250:3270223.746,
#*# 	0.768750:3269074.280,0.812500:3267707.015,0.850000:3266488.838,
#*# 	0.887500:3265311.713,0.931250:3263977.987,0.968750:3262717.670,
#*# 	1.012500:3261476.397,1.050000:3260354.812,1.087500:3259282.951,
#*# 	1.131250:3258011.209,1.168750:3256978.658,1.212500:3255808.303,
#*# 	1.250000:3254776.272,1.287500:3253754.590,1.331250:3252604.558,
#*# 	1.368750:3251527.115,1.412500:3250409.206,1.450000:3249449.101,
#*# 	1.487500:3248550.153,1.531250:3247459.120,1.568750:3246593.514,
#*# 	1.612500:3245578.562,1.650000:3244665.831,1.687500:3243753.698,
#*# 	1.731250:3242705.759,1.768750:3241755.756,1.812500:3240798.655,
#*# 	1.850000:3239935.420,1.887500:3239180.349,1.931250:3238268.459,
#*# 	1.968750:3237516.249,2.012500:3236626.854,2.050000:3235837.365,
#*# 	2.087500:3235053.531,2.131250:3234165.144,2.168750:3233379.911,
#*# 	2.212500:3232616.901,2.250000:3231932.308,2.287500:3231282.839,
#*# 	2.331250:3230501.053,2.368750:3229883.205,2.412500:3229151.001,
#*# 	2.450000:3228490.855,2.487500:3227879.112,2.531250:3227169.410,
#*# 	2.568750:3226505.145,2.612500:3225846.727,2.650000:3225252.524,
#*# 	2.687500:3224730.864,2.731250:3224128.615,2.768750:3223637.978,
#*# 	2.812500:3223055.405,2.850000:3222523.166,2.887500:3222007.477,
#*# 	2.931250:3221409.820,2.968750:3220877.262,3.012500:3220319.652,
#*# 	3.050000:3219824.138,3.087500:3219372.032,3.131250:3218835.372,
#*# 	3.168750:3218421.257,3.212500:3217939.046,3.250000:3217482.201,
#*# 	3.287500:3217060.379,3.331250:3216543.825,3.368750:3216081.641,
#*# 	3.412500:3215639.445,3.450000:3215257.273,3.487500:3214874.114,
#*# 	3.531250:3214415.764,3.568750:3214051.277,3.612500:3213622.735,
#*# 	3.650000:3213257.525,3.687500:3212896.714,3.731250:3212476.527,
#*# 	3.768750:3212099.208,3.812500:3211713.560,3.850000:3211374.207,
#*# 	3.887500:3211052.971,3.931250:3210667.280,3.968750:3210356.509,
#*# 	4.012500:3210003.755,4.050000:3209674.820
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 44.521179
#*# drift_calibration =
#*# 	3144167.364007, 5973.949266, -56.066807
#*# 	3171984.973771, 4161.047042, -39.488896
#*# 	3184146.774227, 3086.049817, -29.610921
#*# 	3178742.319707, 2747.593239, -26.103788
#*# 	3177938.274355, 2319.222534, -21.890222
#*# 	3173650.453098, 2123.773758, -19.936167
#*# 	3171778.270891, 1903.049047, -17.800366
#*# 	3173317.215272, 1621.669116, -15.125749
#*# 	3175704.146867, 1348.201521, -12.563064
#*# drift_calibration_min_temp = 49.15743863948766
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.200440, -0.229969, -0.289237, -0.347046
#*# 	  -0.033456, -0.080672, -0.132738, -0.202601
#*# 	  0.106591, 0.056136, -0.003351, -0.070670
#*# 	  0.273507, 0.217512, 0.158835, 0.092940
#*# 	  0.400790, 0.352934, 0.288770, 0.231059
#*# 	  0.561283, 0.509522, 0.442511, 0.372457
#*# 	  0.676602, 0.625820, 0.562470, 0.499704
#*# 	  0.808297, 0.746598, 0.686772, 0.612802
#*# 	  0.887459, 0.830275, 0.760946, 0.690705
#*# 	  0.990202, 0.923818, 0.840926, 0.768480
#*# 	  1.016688, 0.954814, 0.869301, 0.799640
#*# 	  1.052388, 0.981081, 0.897052, 0.816176
#*# 	  1.018139, 0.945813, 0.862149, 0.790313
#*# 	  0.991672, 0.930341, 0.846292, 0.755143
#*# x_count = 4
#*# y_count = 14
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 95.451
#*# max_x = 120.441
#*# min_y = 41.8534
#*# max_y = 166.26339999999993
